
*{
  padding:0;
  margin:0;
}
li{
  list-style:none;
}
.normal {
  font-family: Georgia, sans-serif;
  text-align: center;
  height:100%;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}
.nof{
  text-align:none;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
.woc{
  width: 200px;
  height:200px;
}
/* #components-layout-demo-top-side-2 .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
} */
/* #components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
} */
.kont{
  position: absolute;
  left:20px;
}
.onts{
  position: absolute;
  left:50px;
}
.kkks{
  position: absolute;
  left:0;
}
.magts{
  width:200px;
  height:64px;
  position: absolute;
  left:20px;
  top:-3px;
}
.magts img{
  width:200px;
  height:64px;
}