*{
  padding:0;
  margin:0;
}

li{
  list-style:none;
}
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
  height:100%;
  margin:0;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}
.lognt{
  height:100%;
}
.onts{
  position: absolute;
  left:50px;
  /* color: rgba(0, 0, 0, 0.65); */
}
.kont{
  position: absolute;
  left:20px;
}
.magts{
  width:200px;
  height:64px;
  position: absolute;
  left:0px;
  top:-3px;
}
.magts img{
  width:200px;
  height:64px;
}
.mani{
  width:100%;
  height:auto;
  background:red;
}
/* .sone{
  position: absolute;
  left:0;
  top:0;
} */